<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ActivitiesAddController</servlet-name>
        <servlet-class>ActivitiesAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesUpdateController</servlet-name>
        <servlet-class>ActivitiesUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesJoinController</servlet-name>
        <servlet-class>ActivitiesJoinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesDeleteController</servlet-name>
        <servlet-class>ActivitiesDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActivitiesUnjoinController</servlet-name>
        <servlet-class>ActivitiesUnjoinController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesAddController</servlet-name>
        <servlet-class>ServicesAddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicesUpdateController</servlet-name>
        <servlet-class>ServicesUpdateController</servlet-class>
    </servlet>
        <servlet>
        <servlet-name>LoginVolServlet</servlet-name>
        <servlet-class>com.vol.controller.LoginVolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutVolServlet</servlet-name>
        <servlet-class>com.vol.controller.LogoutVolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateVolServlet</servlet-name>
        <servlet-class>com.vol.controller.UpdateVolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVolServlet</servlet-name>
        <servlet-class>com.vol.controller.RegisterVolServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PassUpdateVolServlet</servlet-name>
        <servlet-class>com.vol.controller.PassUpdateVolServlet</servlet-class>
    </servlet>        
    <servlet>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <servlet-class>UpdateStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <servlet-class>DeleteStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginStaffServlet</servlet-name>
        <servlet-class>LoginStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <servlet-class>RegisterStaffServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ActivitiesAddController</servlet-name>
        <url-pattern>/ActivitiesAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesUpdateController</servlet-name>
        <url-pattern>/ActivitiesUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesJoinController</servlet-name>
        <url-pattern>/ActivitiesJoinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesDeleteController</servlet-name>
        <url-pattern>/ActivitiesDeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActivitiesUnjoinController</servlet-name>
        <url-pattern>/ActivitiesUnjoinController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesAddController</servlet-name>
        <url-pattern>/ServicesAddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicesUpdateController</servlet-name>
        <url-pattern>/ServicesUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginVolServlet</servlet-name>
        <url-pattern>/LoginVolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutVolServlet</servlet-name>
        <url-pattern>/LogoutVolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateVolServlet</servlet-name>
        <url-pattern>/UpdateVolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVolServlet</servlet-name>
        <url-pattern>/RegisterVolServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PassUpdateVolServlet</servlet-name>
        <url-pattern>/PassUpdateVolServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UpdateStaffServlet</servlet-name>
        <url-pattern>/UpdateStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteStaffServlet</servlet-name>
        <url-pattern>/DeleteStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginStaffServlet</servlet-name>
        <url-pattern>/LoginStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterStaffServlet</servlet-name>
        <url-pattern>/RegisterStaffServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>VolunteerLogin2.jsp</welcome-file>
    </welcome-file-list>
</web-app>
